<ion-header>
  <app-encabezado [pageTitle]="tituloPagina" [iconTitle]="iconoEncabezado"> </app-encabezado>

</ion-header>

<ion-content>
 
  <div><img src="assets/icon/header_clases.jpg" /></div>

  <ion-list lines="full">
    <ion-list-header >
      <ion-label><p>Hoy</p></ion-label>
    </ion-list-header>
    <ion-item color="light">
      <ion-label>19:15 Arquitectura</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>20:40 Calidad de Software</ion-label>
    </ion-item>
    
  </ion-list>

  <ion-list lines="full">
    <ion-list-header >
      <ion-label><p>Lunes 28 Noviembre</p></ion-label>
    </ion-list-header>
    <ion-item color="light">
      <ion-label>19:15 Calidad de Software </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>21:20 Aplicaciones Moviles</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
