
<ion-content >

  <ion-img src="assets/icon/fondo_header_QR.jpg"></ion-img>

  <ion-card>
    <ion-card-content>

      <ion-row  class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <div>
            <ion-list>
              
                <img src="{{qrString}}">
              
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>

  <br>

  <ion-button (click)="salirSinArgumentos()" expand="block">
    Listo
  </ion-button>


</ion-content>
